.li {
  list-style-type: none;
}
a {
  color: black;
  text-decoration: none;
}

.header {
  color: #0ba8ec;
  padding: 30px;
  background-color: white;

  & a {
    color: #0ba8ec;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  & img {
    width: 100px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 30px;

  & li {
    font-size: 21px;
    font-weight: bold;
    list-style: none;
  }
}

.about {
  margin-top: 60px;

  & p {
    font-size: 25px;
    width: 900px;
    line-height: 1.8rem;
  }
}

.gamess {
}

.gamesTitle {
  font-size: 30px;
  text-align: center;
  margin-top: 70px;
}

.gamecard {
  color: black;
  border-radius: 19px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  & img {
    width: 100%;
    border-radius: 19px;
  }
}

.cardtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cardtextTitle {
  font-size: 18px;
  font-weight: bold;
}

.cardBtm {
  width: 200px;
  padding: 10px;
  border-radius: 19px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #1100ff;
  color: white;
  border: 2px solid #1100ff;
  transition: 0.2s ease-in;

  &:hover {
    background-color: white;
    color: #1100ff;
  }
}

.games_row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 50px;
  justify-content: center;
}

.gamesf {
    font-size: 33px;
    margin-top: 70px;
    font-weight: bold;
    text-align: center;
}

.filtersCont {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 19px;
  padding: 10px;
  color: black;
}

.footer {
    margin-top: 110px;
  color: black;
  background-color: white;
  padding: 30px;

  & p {
    width: 600px;
    text-align: center;
  }
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer_c {
  display: flex;
  gap: 10px;
}

.contact {
  display: flex;
  gap: 10px;
  align-items: center;
}
