.header {
  background-color: #f2f2f2;
  padding: 15px;
  a {
    color: #0BA8EC !important;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    & img {
      width: 90px;
    }
  }

  &__nav {
    & ol {
      display: flex;
      gap: 20px;
      align-items: center;

      & li {
        list-style: none;
        font-size: 18px;
        color: #0BA8EC !important;
        font-weight: bold;
      }
    }
  }
}
